body {
  background: pink;
  font-weight: bold;
  font-size: 16px
}

.title {
    text-align: center;
    background: red;
}

ul {
  font-size: 18px;
}

.paragraph {
  margin-left: 20px;
  margin-top: 20px;
  line-height: 1.5;
}

.food-img {
  height: 100px;
  width: 100px;
}

.contact-form {
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 150px;
}
